*{
    margin: 0;
    padding: 0;
}
html {
    background-color: black;
    color: #dff2b0;
}
.gridLayout {
    display: grid;
    height: 100vh;
    width: 90%;
    grid-gap: 20px;
    padding: 10px;
    justify-content: stretch;
    grid-template-areas: 
                        "header header"
                        "about about"
                        "contact ubication"
                        "footer footer";
    grid-template-rows: 30% auto auto 10%;
}

#header{
    grid-area: header;
    background-color: black;
}

#header h1 {
    font-family: 'Lobster', cursive;
    text-rendering: optimizeSpeed;
    font-size: 40px;
    width: 9.375rem;
    margin: 0.9375rem auto;
    padding: 0.75rem;
    cursor: pointer;
}

#header .navegacionPagina {
    display: flex;
    font-size: 22.5px;
    justify-content: space-evenly;
    align-content: flex-start;
    padding-bottom: 1rem;
}

#header .navegacionPagina a {
    font-family: 'Shrikhand', cursive;
    text-decoration: none;
    margin: 2rem;
    transition: 0.2s ease;
}

#header nav a:link {
    color: #dff2b0;
}

#header nav a:visited {
    color: #dff2b0;
}

#header nav a:hover {
    color: rgb(248, 250, 115);
    
}

#header nav a:active {
    color: rgb(235, 203, 97);
}

#aboutUs{
    margin: 0.9375rem 6.875rem 0.9375rem 1.875rem;
    width: 88%;
    grid-area: about;
    padding: 0.9375rem 3.125rem;
    text-align: center;
    border-bottom: 1px thick lightgray;
    box-shadow: 2px 2px 8px 4px #414040d1;
    border-radius: 10px;
}

#aboutUs h2 {
    font-family: 'Lobster', cursive;
    font-size: 32px;
    border-bottom: 1px solid #dff2b014;
}

#aboutUs p {
    padding-top: 30px;
    font-family: sans-serif;
    font-size: 18px;
}

#contact {
    margin: 0.9375rem 6.875rem 0.9375rem 1.875rem;
    margin-top: 30px;
    grid-area: contact;
    display: flex;
    flex-direction: column;
    padding: 0 1vw 0 0;
    width: 80%;
    font-family: 'Lobster';
}

#contact .ingreso {
    width: 100%;
    background-color: #000000;
    color: #fff;
    height: 30px;
    outline: none;
    border-bottom: 1px solid #dff2b0;
    margin: 10px 0;
}

.ingreso::-webkit-inner-spin-button,
.ingreso::-webkit-outer-spin-button{
    -webkit-appearance: none;
}

.ingresoComentario {
    width: 100%;
    height: 70px;
    background-color: #000000;
    color: #fff;
    outline: none;
    border-bottom: 1px solid #dff2b0;
    margin: 10px 0;
}

.radio {
    border-radius: 10px;
    padding: 5px;
}

#contact .ingresoEmail{
    margin: 0px, 0.625rem, 0px, 0px;
}
.boton {
    padding: 0.5rem 22vw;
    width: 100%;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'lobster', cursive;
    color: #dff2b0;
    background-color: rgb(0, 0, 0);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.8s;
    border: 0.5px solid #dff2b0;
}

#contact .boton:hover {
    background-color: #dff2b0;
    color: #000;
}
#contact h2 {
    margin: 1.875rem auto 0.625rem auto;
    text-align: center;
}


#ubication{
    margin: 0.5rem 6.875rem 0 1.875rem;
    grid-area: ubication;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 3.125rem 0 1.25rem;
    padding: 0 1.3vw 0 0;
    font-family: 'lobster';    
}

#ubication h2 {
    margin: 1.875rem auto 0.625rem auto;
    text-align: center;
}
.mapa {
    margin-top: 15px;
    padding: 0;
    box-sizing: border-box;  
    border: 3px solid #dff2b0;
    box-shadow: 0px 0px 12px 8px #414040d1;
    border-radius: 15px;
    height: 79.5%;
}

#footer{
    grid-area: footer;
    height: 7vh;
    margin: 10px;
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: baseline;
    user-select: none;
}

.social {
    align-items: center;
}

#footer::after {
    content: "";
    clear: both;
    display: block;
}

[class*="col-"] {
    float: left;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}