/* * {
    margin: 0;
    padding: 0;
} */ 

html {
    background-color: black;
    color: #dff2b0;
}

body div header {
    background-color: black;
    height: 30vh;
}

body div header h1 {
    font-family: 'Lobster', cursive;
    text-rendering: optimizeSpeed;
    font-size: 40px;
    width: 9.375rem;
    margin: 1vw auto;
    padding: 0.75rem;
    cursor: pointer;
}

body div header .navegacionPagina {
    display: inline-block;
    font-size: 22.5px;
    margin: 0px auto;
    padding: 0px 22vw;
    text-align: center;
}

body div header .navegacionPagina a {
    font-family: 'Shrikhand', cursive;
    text-decoration: none;
    margin: 2rem;
}

body div header nav a:link {
    color: #dff2b0;
}

body div header nav a:visited {
    color: #dff2b0;
}

body div header nav a:hover {
    color: rgb(248, 250, 115);
    transition: 0.2s ease;
}

body div header nav a:active {
    color: rgb(235, 203, 97);
}

body div div div .enlaceCocteles {
    background-image: url(../Img/bannerBebidas.jpg);
    background-position: 7vw;
    background-size: 90vw;
    background-repeat: no-repeat;
    height: 67vh;
    width: 95vw;
    margin-bottom: 30vh;
}

body div div div {
    padding-left: 3vw;
}

body div div div .enlaceCocteles a {
    display: inline-block;
    font-family: 'Lobster', cursive;
    text-decoration: none;
    text-rendering: optimizeSpeed;
    font-size: 20px;
    margin: 3vh 1vw;
    padding: 25rem 0.4rem;
    text-align: center;
}

body div div div .enlaceCocteles a:link {
    color: #dff2b0;
}

body div div div .enlaceCocteles a:visited {
    color: #dff2b0;
}

body div div div .enlaceCocteles a:hover {
    color: rgb(248, 250, 115);
    transition: 0.2s ease;
}

body div div div .enlaceCocteles a:active {
    color: rgb(235, 203, 97);
}


body div div .tequila {
    background-image: url(../Img/bannerTequila.jpg);
    background-position: 1vw;
    /*80 original*/
    background-size: 100vw;
    background-attachment: fixed;
    width: 93vw;
    /*1250 original*/
    background-repeat: no-repeat;
}

body div article .tequila .lista {
    margin-right: 25rem;
    text-align: justify;
    font-family: 'Raleway';
    size: 30px;
}
#tequilaSunrise .margin {
    margin-left: 15vw;
}

body div article .ron .lista {
    margin-right: 21rem;
    text-align: justify;
    font-family: 'Raleway';
    size: 30px;
}

body div article .whisky .lista {
    margin-right: 27rem;
    text-align: justify;
    font-family: 'Raleway';
    size: 30px;
}

body div article .vodka .lista {
    margin-right: 24rem;
    text-align: justify;
    font-family: 'Raleway';
    size: 30px;
}

body div article .gin .lista {
    margin-right: 21rem;
    text-align: justify;
    font-family: 'Raleway';
    size: 30px;
}

body div article .sinAlcohol .lista {
    margin-right: 32rem;
    text-align: justify;
    font-family: 'Raleway';
    size: 30px;
}

body div div .tequila h3 {
    font-family: 'Lobster';
    text-rendering: optimizeSpeed;
    font-size: 40px;
}

body div div .ron h3 {
    font-family: 'Lobster';
    text-rendering: optimizeSpeed;
    font-size: 40px;
}

body div div .whisky h3 {
    font-family: 'Lobster';
    text-rendering: optimizeSpeed;
    font-size: 40px;
}

body div div .vodka h3 {
    font-family: 'Lobster';
    text-rendering: optimizeSpeed;
    font-size: 40px;
}

body div div .gin h3 {
    font-family: 'Lobster';
    text-rendering: optimizeSpeed;
    font-size: 40px;
}

body div div .sinAlcohol h3 {
    font-family: 'Lobster';
    text-rendering: optimizeSpeed;
    font-size: 40px;
}

body div div .ron {
    background-image: url(../Img/bannerRon.jpg);
    background-position: 7.3vw;
    background-size: 100%;
    background-attachment: fixed;
    /* width: 1250px; */
    width: 92.5vw;
    background-repeat: no-repeat;
}

body div div .whisky {

    /* background-image: url(../Img/bannerRon.jpg);
    background-position: 7.3vw;
    background-size: 100%;
    background-attachment: fixed;
    /* width: 1250px; */
    /* width: 92.5vw; */

    background-image: url(../Img/bannerWhisky.jpg);
    background-position: 7.7vw;
    background-size: 100%;
    background-attachment: fixed;
    width: 92.5vw;
    background-repeat: no-repeat;
}

body div div .vodka {
    background-image: url(../Img/bannerVodka.jpg);
    background-position: 8.9vw;
    background-size: 100%;
    background-attachment: fixed;
    width: 94.5vw;
    background-repeat: no-repeat;
}

body div div .gin {
    background-image: url(../Img/bannerGin.jpg);
    background-position: 8.7vw;
    background-size: 100%;
    background-attachment: fixed;
    width: 94.6vw;
    background-repeat: no-repeat;
}

body div div .sinAlcohol {
    background-image: url(../Img/bannerSinAlcohol.jpg);
    background-position: 7.1vw;
    background-size: 100%;
    background-attachment: fixed;
    width: 93vw;
    background-repeat: no-repeat;
}

footer {
    height: 7vh;
}

footer #autory {
    margin: 5rem 0 0 0;
    float: right;
    cursor: pointer;
}

footer #footerRight {
    margin: 3.7rem 0 0 0;
    float: left;
    cursor: pointer;
}

footer .social {
    display: inline-block;
    margin: 3.75rem 0px 0px 27.6875rem;
    padding: 0 0.125rem;
}